img.myimg{
	width: 249px;
	height: 268px;
}
img.myimg_carousel{
	width: 84px;
	height: 85px;
}
.error{
	color: red;
}
.logo img{
	width: 139px;
	height: 100px;
}
#empty_cart{
	font-size: 18px;
	margin-left: 40px;
	color: red;
}
.wishlist{
	margin: auto auto 40px 25px;
	font-size: 18px;
}
.welcome{
	font-size: 18px;
	color: green;
}
/*******************************
***********checkout page********/
.shopper-informations input.info{
	margin-bottom: 10px;
	padding: 10px;
	background-color: #F0F0E9;
	border: 0px;
	width: 100%;
}
/*******************************
*******recommended items********/
.recommended_img img{
	width: 150px;
	height: 150px;
}