img.myimg{
	width: 249px;
	height: 268px;
}
img.myimg_carousel{
	width: 84px;
	height: 85px;
}
.error{
	color: red;
}
.logo img{
	width: 139px;
	height: 100px;
}
#empty_cart{
	font-size: 18px;
	margin-left: 40px;
	color: red;
}
.wishlist{
	margin: auto auto 40px 25px;
	font-size: 18px;
}
.welcome{
	font-size: 18px;
	color: green;
}
/*******************************
***********checkout page********/
.shopper-informations input.info{
	margin-bottom: 10px;
	padding: 10px;
	background-color: #F0F0E9;
	border: 0px;
	width: 100%;
}
/*******************************
*******recommended items********/
.recommended_img img{
	width: 150px;
	height: 150px;
}
/*******************************
*******autocomplete box********/
.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 10px;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}
/*******************************
*******FAQ table********/
#cart_items .cart_info .table.table-condensed thead tr td.faq {
  -webkit-align-content: center;
          align-content: center;
}
#cart_items .cart_info .faq_table tr td{
	padding: 15px;
}